.App {
  background-color: #0077B6; /* Adjust the color to match your design */
  text-align: center;
  padding: 20px;
}

h1 {
  color: white;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
